extends layout
block head
block content
    h1 My Profile
    div.account-detail
        p Provider: #{user.provider}
        p ID: #{user.id}
        p displayName: #{user.displayname}

        p Username: #{user.username}
        p Primary Email: #{user.email}
    div.account-emails
        p Email Addresses:
        ul
            for email in user.emails
                li #{email.value} (#{email.type})
            else
                li sorry, no email addresses!
    div.account-groups
        p Groups:
        ul
            for group in user.groups
                li= group
            else
                li sorry, no groups!