extends ../layout
block head
  include ../datatables_css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css')

block content
    .page-header
      h1 Device Detail
      h4 #{uberDevice.dev_desc}#{config.mgmtDomain}
    .container
      .row
        .col-md-12
          .panel.panel-default
            include ../partials/monitoring/events
      .row
        .col-md-12
          include ../partials/tickets/list
      .row
        .col-md-6
          include ../partials/device/system_stats
        .col-md-6
          include ../partials/device/owner_details
      .row
        .col-md-12
          include ../partials/monitoring/checks
      .row
        .col-md-12
          include ../partials/monitoring/facts

block footer
  include ../datatables_js
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
  script(src='/javascripts/sensu-helper.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_tickets').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/helpdesk/devices/deviceid/#{uberDevice.dev}/tickets',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "timestamp"
          }, {
            "mData": "priority"
          }, {
            "mData": "type"
          }, {
            "mData": "admin_username"
          }, {
            "mData": "subject",
            "mRender": function (subject, type, row) {
              return '<a href="/helpdesk/tickets/ticketid/' + row['ticket_id'] + '">' + subject.slice(0,65) + '</a>';
            }
          }, {
            "mData": "activity"
          }],
        "aaSorting": [[0,'desc'],[1, 'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_facts').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/puppet/devices/hostname/#{uberDevice.dev_desc}#{config.mgmtDomain}/facts',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "name"
          }, {
            "mData": "value",
          }],
        "aaSorting": [[1,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });

  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_checks').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/sensu/checks/hostname/#{uberDevice.dev_desc}#{config.mgmtDomain}',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "title",
            "sWidth": "160px"
          }, {
            "mData": "occurrences",
            "sWidth": "60px",
          }, {
            "mData": "interval",
            "sWidth": "40px",
          }, {
            "mData": "handlers",
            "sWidth": "80px"
          }, {
            "mData": "command",
            "mRender": function(command) {
              return command.replace("/opt/contegix/sensu/etc/sensu/plugins/", "");
            }
          }],
        "aaSorting": [[1,'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });

  script(type='text/javascript').
    $(document).ready(function() {
      oTable = $('#table_events').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/sensu/events/hostname/#{uberDevice.dev_desc}#{config.mgmtDomain}',
        "iDisplayLength": 5,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "issued",
            "sWidth": "80px"
          }, {
            "mData": "check",
            "mData": "client",
            "sWidth": "220px",
            "mRender": function(client, type, row) {
              return renderButton(row['client'], row['check']) + row['check'];
            },
          }, {
            "mData": "flapping",
            "sWidth": "40px"
          }, {
            "mData": "occurrences",
            "sWidth": "40px"
          }, {
            "mData": "output",
            "mRender": function (output, type, row) {
              var dispOutput = output.slice(0,75).replace(/["']/g, "");
              var txtBoxText = encodeURI(JSON.stringify(row, null, 2));
              return "<a onclick=\"displayTextAlert('" + txtBoxText + "');\">" + dispOutput + "</a>";

            }
          }],
        "aaSorting": [[1,'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
