extends ../layout
block head

block content
  .page-header
    h1 Customer Detail
    h4 #{client.company}
  .container
    .row
      .col-md-14
        .panel.panel-default
          .panel-heading Device List
          .panel-body
            table.table.table-condensed.table-striped
              thead
                tr
                  th Type
                  th Hostname
                  th Description
                  th Status
                  th Location
              tbody
                each device in devices
                  tr
                    td #{device.type}
                    td
                      a(href="/ubersmith/devices/hostname/#{device.dev_desc}.contegix.mgmt") #{device.dev_desc}
                    td #{device.label}
                    td #{device.status}
                    td #{device.location}
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Ticket List
            .panel-body
              table(id="table_tickets").table.table-condensed
                thead
                  tr
                    th Created
                    th Priority
                    th Type
                    th Company
                    th Assignee
                    th Subject
                    th Touched
                tbody
      .row
        .col-md-8
          .panel.panel-default
            .panel-heading Contacts List
            .panel-body
              table(id="table_contacts").table.table-condensed.table-striped
                thead
                  tr
                    th Information
                    th Roles
                tbody
                  each contact in client.contacts
                    tr
                      td
                        ul.list-group
                          li.list-group-item Name:
                            span.pull-right #{contact.real_name}
                          li.list-group-item Email:
                            span.pull-right  #{contact.email}
                          li.list-group-item Phone:
                            span.pull-right  #{contact.phone}
                      td
                        ul.list-group
                          li.list-group-item Sales Role:
                            span.pull-right #{contact.sales_role}
                          li.list-group-item Billing Role:
                            span.pull-right  #{contact.billing_role}
                          li.list-group-item DC Access Role:
                            span.pull-right  #{contact.dc_access_role}

        .col-md-4
          .panel.panel-default
            .panel-heading Account Information
            .panel-body
              p Client ID:
                span.pull-right #{clientid}
              p Company:
                span.label.label-success.pull-right #{client.company}
              p Address:
                span.pull-right #{client.address}
              p Created:
                span.pull-right #{getFormattedTimestamp(client.created)}
              p Contact Information:
                ul.list-group
                  li.list-group-item Name:
                    span.pull-right #{client.first} #{client.last}
                  li.list-group-item Email:
                    span.pull-right  #{client.email}
                  li.list-group-item Phone:
                    span.pull-right  #{client.phone}

block footer
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.bootstrap.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_tickets').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/ubersmith/tickets/list/clientid/#{clientid}',
        "iDisplayLength": 10,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "timestamp"
          }, {
            "mData": "priority"
          }, {
            "mData": "type"
          }, {
            "mData": "listed_company",
            "mRender": function (listed_company, type, row) {
              if (listed_company)
              {
                return '<a href="/ubersmith/clients/clientid/' + row['client_id'] + '">' + listed_company.slice(0,15) + '</a>';
              } else {
                return '-';
              }
            }
          }, {
            "mData": "admin_username"
          }, {
            "mData": "subject",
            "mRender": function (subject) {
              return subject.slice(0,65);
            }
          }, {
            "mData": "activity"
          }],
        "aaSorting": [[0,'desc'],[1, 'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });