extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')

block content
    .page-header
      h1 Device List
    .container
      #table_clients.table.table.table-condensed.table-striped
        thead
          tr
            th IDa
            th Type
            th Description
            th Company
            th Location
            th Status
        tbody
#                    each device,device_id in devices
#                      if device.devtype_group_id == group.devtype_group_id
#                        tr
#                          td
#                            a(href="/ubersmith/devices/#{device.dev}") #{device.dev}
#                          td #{device.type}
#                          td #{device.dev_desc}
#                          td #{device.company}
#                          td #{device.location}
#                          td #{device.device_status}
#                            br
#                            span.label.label-primary #{device.total}
#                            span.label.label-danger #{device.down}
#                            span.label.label-warning #{device.warn}
#                            span.label.label-success #{device.up}
#                            span.label.label-default #{device.disabled}

block footer
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.bootstrap.js')
  each group,group_id in device_types
    if group_id != 0
        script(type='text/javascript').
          $('#groupid_#{group.devtype_group_id} a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })

        script(type='text/javascript').
          $(document).ready(function() {
            $('#tableid_#{group.devtype_group_id}').dataTable( {
              "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
              "sPaginationType": "bootstrap",
              "sAjaxSource": '/ubersmith/devices/list/#{group.devtype_group_id}',
              "iDisplayLength": 10,
              "bSortClasses": false,
              "aaSorting": [[4,'asc']],
              "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
              }
            });
          });       
  script(type='text/javascript').
    $('#navTabs a:first').tab('show')
