extends ../layout
block head

block content
  .page-header
    h1 Customer Detail
    h4 #{client.company}
  .container
    .row
      .col-md-14
        .panel.panel-default
          .panel-heading Device List
          .panel-body
            table.table.table-condensed
              thead
                tr
                  th Type
                  th Hostname
                  th Description
                  th Status
                  th Location
              tbody
                each device in devices
                  tr
                    td #{device.type}
                    td
                      a(href="/ubersmith/devices/hostname/#{device.dev_desc}.contegix.mgmt") #{device.dev_desc}
                    td #{device.label}
                    td #{device.status}
                    td #{device.location}
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading Fill this Section In
            .panel-body
              p Status
                span.lavel.label-success.pull-right Active
              p Things
                span.pull-right asdf
              p Contacts

        .col-md-6
          .panel.panel-default
            .panel-heading Account Information
            .panel-body
              p Client ID:
                span.pull-right #{client.id}
              p Company:
                span.label.label-success.pull-right #{client.company}
              p Address:
                span.pull-right #{client.address}
              p Created:
                span.pull-right #{getFormattedTimestamp(client.created)}
              p Contact Information:
                ul.list-group
                  li.list-group-item Name:
                    span.pull-right #{client.first} #{client.last}
                  li.list-group-item Email:
                    span.pull-right
                  li.list-group-item Phone:
                    span.pull-right

block footer
