extends ../layout
block head

block content
    .page-header
      h1 Device List
    .container
      .row
        .col-md-14
          .panel.panel-default
            .panel-heading Monitoring Events
            .panel-body
              table.table.table-condensed
                thead
                  tr
                    th Status
                    th Check
                    th Issued
                    th Flapping
                    th Count
                    th(data-defaultsort='disabled').visible-lg Output
                tbody
                  each event in events
                    tr(class="#{getEventClass(event.status)}")
                      td #{getEventClass(event.status)}
                      td #{event.check}
                      td #{getFormattedTimestamp(event.issued)}
                      td #{event.flapping}
                      td #{event.occurrences}
                      td.visible-lg #{event.output.slice(0,65)}
        .row
          .col-md-6
            .panel.panel-default
              .panel-heading Sensu Information
              .panel-body
                p IP Address
                  span.pull-right #{sensuclient.address}
                p Name
                  span.pull-right #{sensuclient.name}
                p Subscriptions
                   ul.list-group
                    each subscription in sensuclient.subscriptions
                      li.list-group-item #{subscription}
          .col-md-6
            .panel.panel-default
              .panel-heading Ubersmith Information
              .panel-body
                p Type:
                  span.pull-right #{device.devtype_group}/#{device.type}   
                p Active:
                  span.label.label-success.pull-right #{device.active}
                p Location:
                  span.label.label-success.pull-right #{device.location}
                p Company:
                  span.pull-right #{device.company}   
                p Contact Information:
                  ul.list-group
                    li.list-group-item Email:
                      span.pull-right #{device.email}   
                    li.list-group-item Phone:
                      span.pull-right #{device.phone}   

block footer
