extends ../layout
block head
  include ../datatables_css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css')

block content
    .page-header
      h1 Device Detail
      h4 #{uberDevice.dev_desc}.contegix.mgmt
    .container
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              p Monitoring Events
                button(onclick="silenceCheck('" + sensuDevice.node.name + "', 'false');").btn.btn-warn.btn-xs.btn-event.pull-right
                  span.glyphicon.glyphicon-volume-off.span-event.client
                  span Silence All Checks
            .panel-body
              table(id='table_events').table.table-condensed.sortable
                thead
                  tr
                    th Issued
                    th Check
                    th Flapping
                    th Count
                    th.visible-lg Output
                tbody

      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Ticket List
            .panel-body
              table(id="table_tickets").table.table-condensed
                thead
                  tr
                    th Created
                    th Priority
                    th Type
                    th Assignee
                    th Subject
                    th Touched
                tbody

      .row
        .col-md-6
          .panel.panel-default
            .panel-heading System Stats
            .panel-body
              p Operating System
                span.pull-right #{puppetDevice.facts.operatingsystem} #{puppetDevice.facts.operatingsystemrelease}
              p Kernel
                span.pull-right #{puppetDevice.facts.kernel} #{puppetDevice.facts.kernelrelease}
              p Uptime
                span.pull-right #{puppetDevice.facts.uptime}
              p Manufacturer Information
                span.pull-right #{puppetDevice.facts.manufacturer} #{puppetDevice.facts.productname} #{puppetDevice.facts.serialnumber}
              p RAM
                span.pull-right #{puppetDevice.facts.memoryfree } free / #{puppetDevice.facts.memorytotal} total
              p CPU
                span.pull-right #{puppetDevice.facts.physicalprocessorcount} socket (#{puppetDevice.facts.processorcount/puppetDevice.facts.physicalprocessorcount} core) x #{puppetDevice.facts.processor0}
              p Interfaces
                span.pull-right Management: #{puppetDevice.facts.interface_mgmt} Public: #{puppetDevice.facts.interface_public}
              p Catalog Timestamp
                span.pull-right #{getFormattedISO8601(puppetDevice.catalog_timestamp)}
              p Facts Timestamp
                span.pull-right #{getFormattedISO8601(puppetDevice.facts_timestamp)}
              p Report Timestamp
                span.pull-right #{getFormattedISO8601(puppetDevice.report_timestamp)}
        .col-md-6
          .panel.panel-default
            .panel-heading Ubersmith Information
            .panel-body
              p Type:
                span.pull-right #{uberDevice.devtype_group_name}/#{uberDevice.type}
              p Active:
                span.label.label-success.pull-right #{uberDevice.active}
              p Location:
                span.pull-right #{uberDevice.location}
              p Parent:
                span.pull-right #{uberDevice.parent_desc}
              p Management:
                span.pull-right #{uberDevice.metadata.management_level}
              p Company:
                span.pull-right
                  a(href="/ubersmith/clients/clientid/#{uberDevice.clientid}") #{uberDevice.company}
              p Contact Information:
                ul.list-group
                  li.list-group-item Email:
                    span.pull-right #{uberDevice.email}
                  li.list-group-item Phone:
                    span.pull-right #{uberDevice.phone}
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Sensu Checks
            .panel-body
              table(id="table_checks").table.table-condensed
                thead
                  tr
                    th Title
                    th Subscribers
                    th Handlers
                    th Interval
                    th Command
                tbody

      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Puppet Facts
            .panel-body
              table(id="table_facts").table.table-condensed
                thead
                  tr
                    th Fact
                    th Value
                tbody

block footer
  include ../datatables_js
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
  script(src='/javascripts/sensu-helper.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_tickets').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/ubersmith/devices/deviceid/#{uberDevice.dev}/tickets',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "timestamp"
          }, {
            "mData": "priority"
          }, {
            "mData": "type"
          }, {
            "mData": "admin_username"
          }, {
            "mData": "subject",
            "mRender": function (subject, type, row) {
              return '<a href="/ubersmith/tickets/ticketid/' + row['ticket_id'] + '">' + subject.slice(0,65) + '</a>';
            }
          }, {
            "mData": "activity"
          }],
        "aaSorting": [[0,'desc'],[1, 'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_facts').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/puppet/devices/hostname/#{uberDevice.dev_desc}.contegix.mgmt/facts',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "name"
          }, {
            "mData": "value",
          }],
        "aaSorting": [[1,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });

  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_checks').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/sensu/checks/hostname/#{uberDevice.dev_desc}.contegix.mgmt',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "title",
            "sWidth": "160px"
          }, {
            "mData": "subscribers",
            "sWidth": "80px"
          }, {
            "mData": "handlers",
            "sWidth": "80px"
          }, {
            "mData": "interval",
            "sWidth": "60px"
          }, {
            "mData": "command",
          }],
        "aaSorting": [[1,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });

  script(type='text/javascript').
    $(document).ready(function() {
      oTable = $('#table_events').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/sensu/events/hostname/#{uberDevice.dev_desc}.contegix.mgmt',
        "iDisplayLength": 5,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "issued",
            "sWidth": "80px"
          }, {
            "mData": "check",
            "mData": "client",
            "sWidth": "220px",
            "mRender": function(client, type, row) {
              return renderButton(row['client'], row['check']) + row['check'];
            },
          }, {
            "mData": "flapping",
            "sWidth": "40px"
          }, {
            "mData": "occurrences",
            "sWidth": "40px"
          }, {
            "mData": "output",
            "mRender": function (output, type, row) {
              var dispOutput = output.slice(0,75).replace(/["']/g, "");
              var txtBoxText = encodeURI(JSON.stringify(row, null, 2));
              return "<a onclick=\"displayTextAlert('" + txtBoxText + "');\">" + dispOutput + "</a>";

            }
          }],
        "aaSorting": [[1,'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
