extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')

block content
 .container.col-xs-12.col-md-8
    .row
      .page-header
        h1 Current System Info
    .row
      .col-xs-10.col-md-8
        .panel.panel-default
          .panel-heading Ubersmith Events
          .panel-body
            table.table.table-condensed
              thead
                tr
                  th Time
                  th User
                  th Action
              tbody
                each event,id in event_list.data
                  if event.client_viewable == 1
                    tr
                      td #{getFormattedTimestamp(event.time)}
                      td #{event.user}
                      td #{event.action}
      .col-xs-6.col-md-4
        .panel.panel-default
          .panel-heading Company Status
          .panel-body
            .row
              .col-xs-7.col-md-5
                h4 Ticket Status
                p Low
                  span.label.label-primary.pull-right #{ticket_count.low.data}
                p Normal
                  span.label.label-success.pull-right #{ticket_count.normal.data}
                p High
                  span.label.label-warning.pull-right #{ticket_count.high.data}
                p Urgent
                  span.label.label-danger.pull-right #{ticket_count.urgent.data}
              .col-xs-7.col-md-5
                h4 Order Status
                p New Orders
                  span.badge.pull-right 0
                p Recently Completed
                  span.badge.pull-right 0

block footer
