extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/bootstrap-sortable.css')
block navbar
block content
  .container
    .page-header
      h1 Service Failure List (Last #{hoursAgo} hours)
    .container
      table.table.table-condensed.sortable
        thead
          tr
            th Hostname
            th Timestamp
            th Status
            th Message
        tbody
          each failure in failures
            tr
              td #{failure.certname}
              td #{getFormattedISO8601(failure.timestamp)}
              td #{failure.status}
              td #{failure.message}
block footer
