.panel.panel-default
  .panel-heading Ubersmith Information
  .panel-body
    p Type:
      span.pull-right #{uberDevice.devtype_group_name}/#{uberDevice.type}
    p Active:
      span.label.label-success.pull-right #{uberDevice.active}
    p Location:
      span.pull-right #{uberDevice.location}
    p Parent:
      span.pull-right #{uberDevice.parent_desc}
    p Management:
      span.pull-right #{uberDevice.metadata.management_level}
    p Company:
      span.pull-right
        a(href="/helpdesk/clients/clientid/#{uberDevice.clientid}") #{uberDevice.company}
    p Contact Information:
      ul.list-group
        li.list-group-item Email:
          span.pull-right #{uberDevice.email}
        li.list-group-item Phone:
          span.pull-right #{uberDevice.phone}